
<div class="jumbotron">
  <h1><p class="right"> &quot;  sample quote &quot;   <img class="image-rounded" src="http://placehold.it/50x50"></p> </h1>
</div>

<div class="row">
      <div class="col-lg-6"> <p> <h3>  Hire Expert Freelancers For Your Online Job </h3> </p>
        <br>
        <p class="lead"> Billions of small businesses use Freelancer to turn their ideas into reality.</p>
        <button type="button" class="btn btn-primary">Hire</button>
        <button type="button" class="btn btn-info">Work</button>
      </div>
      </div>
      <div class="col-lg-6"> <!-- right side -->

      <div class="background-image toggle-image first-image show"></div>
      <div class="background-image toggle-image second-image"></div>
      <div class="background-image toggle-image third-image"></div>
</div>

<body>
    <div class="row">
      <hr>
      <div class="col-md-4">
        <p align="center"> <strong> 8,123,123 </strong>  </p>
        <p align="center"> Projects Launched </p>
      </div>
      <div class="col-md-4">
        <p align="center"> <strong> 12,234,345 </strong>  </p>
        <p align="center"> Registered Users  </p>
      </div>
      <div class="col-md-4">
        <p align="center"> <strong> 23,890 </strong>  </p>
        <p align="center"> Freelancers Online  </p>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-2"> logo 1
    </div>
    <div class="col-sm-2"> logo 2
    </div>
    <div class="col-sm-2"> logo 3
    </div>
    <div class="col-sm-2"> logo 4
    </div>
    <div class="col-sm-2"> logo 5
    </div>
    <div class="col-sm-2"> logo 6
    </div>

  </div>
</body>
