  <div class="jumbotron">
    <div class="row">
    <h1><p class="right"> &quot; Embrace the Jouney. &quot; - Dr. Benjamin Casalino Sr. <img class="image-rounded" src="http://placehold.it/50x50"></p></h1>
  </div>

    <p><h2>Hire Expert Freelancers For Your Online Job</h2></p>
    <br>
    <p class="lead"> Billions of small businesses use Freelancer to turn their ideas into reality.</p>
    <button type="button" class="btn btn-primary">Hire</button>
    <button type="button" class="btn btn-info">Work</button>

    <div class="background-image toggle-image first-image show"></div>
    <div class="background-image toggle-image second-image"></div>
    <div class="background-image toggle-image third-image"></div>
    <div class="background-image toggle-image forth-image"></div>
    <div class="background-image toggle-image fifth-image"></div>
  </div>
