<html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="row white">
  <div class="col-md-4">
    <p align="center"> <strong> 8,123,123 </strong>  </p>
    <p align="center"> Projects Launched </p>
  </div>
  <div class="col-md-4">
    <p align="center"> <strong> 12,234,345 </strong>  </p>
    <p align="center"> Registered Users  </p>
  </div>
  <div class="col-md-4">
    <p align="center"> <strong> 23,890 </strong>  </p>
    <p align="center"> Freelancers Online  </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>
  <div class="col-sm-2"> <img src="http://placehold.it/150x50">
  </div>

</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <p> <strong>  Getting Your Job Done Is Easy </strong>  <p>
    <p class="lead">With over 16.8 million freelancers, you will receive competitive quotes for any job you need done. Whether you need a website, a logo, or a new robot for your space station, all you need to do is follow these 3 simple steps.  </p>
  </div>
<div class="col-md-2">
  <p> <img src="http://placehold.it/50x50"> </p>
  <p class="lead"> <strong> Post a Job </strong>  </p>
  <p> Describe what you need done and tell us your budget. </p>
</div>
<div class="col-md-2">
  <p> <img src="http://placehold.it/50x50"> </p>
  <p class="lead align"> <strong> Select a Bid </strong>  </p>
  <p> Receive competitive quotes and choose the right freelancer. </p>
</div>
<div class="col-md-2">
  <p> <img src="http://placehold.it/50x50"> </p>
  <p class="lead"> <strong> Job Done  </strong> </p>
  <p> The freelancer completes the work. You pay only when satisfied.</p>
</div>


<div class="row

</html>
